@import "./shared";

.chessboard {
    td {
        width: 10vmin;
        height: 10vmin;
        text-align: center;
        vertical-align: middle;

        &.td- {
            &white {
                color: $dark;
                background: $light;
            }

            &black {
                color: $light;
                background: $black;
            }
        }
    }
}
