@import "./shared";

.chessboard {
    td {
        &.td- {
            &white {
                color: $dark;
                background: $light;
            }

            &black {
                color: $light;
                background: $black;
            }
        }
    }
}
