@import "./shared";

@mixin active($color) {
    box-shadow: inset 0 0 0 10px $color;
    transition: all 0.25s;
}

.chessboard {
    td {
        height: 10vmin;
        text-align: center;
        vertical-align: middle;
        width: 10vmin;

        img.piece-content {
            max-height: 100%;
            max-width: 100%;
            transform: scale(1.5); // FIXME: Will probably break because all the SVGs have a fixed size inside
        }

        &.piece- {
            &white {
                background-color: $orange-100;
                color: $dark;

                &.piece-active {
                    @include active($orange-400);
                }
            }

            &black {
                background-color: $orange-800;
                color: $light;

                &.piece-active {
                    @include active($orange-700);
                }
            }
        }
    }
}
