@import "./shared";

@mixin active($out-color, $in-color, $active) {
    box-shadow: inset 0 0 10px 10px rgba($out-color, if($active, 1, 0)), inset 0 0 10px 15px rgba($in-color, if($active, 1, 0));
    transition: all 0.2s;
}

@mixin piece-color($out-color, $in-color) {
    background-color: $in-color;

    // BEM convention
    &.piece--active-true {
        @include active($out-color, $in-color, true);
    }

    &.piece--active-false {
        @include active($out-color, $in-color, false);
    }
}

.chessboard {
    td.piece {
        height: 10vmin;
        text-align: center;
        vertical-align: middle;
        width: 10vmin;

        &.piece--clickable {
            cursor: pointer;
        }

        img.piece--content {
            max-height: 100%;
            max-width: 100%;
            transform: scale(1.5); // FIXME: Will probably break because all the SVGs have a fixed size inside
        }

        &.piece--color- {
            &white {
                @include piece-color($orange-400, $orange-100);
            }

            &black {
                @include piece-color($orange-700, $orange-800);
            }
        }
    }
}
